<!DOCTYPE HTML>
<html>
<head>
    <title>Power Service Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .center {
            width: 200px; /* Ширина элемента в пикселах */
            padding: 10px; /* Поля вокруг текста */
            margin: auto; /* Выравниваем по центру */
            background: #ffff; /* Цвет фона */
            font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
            font-size: 150%; /* Размер шрифта в процентах */
        }

    </style>
</head>
<body>
<div class="center">Hello User !!!</div>
</body>
</html>